table {
    margin: auto;
    margin-top: 5em;
    width: 50%;
    background-color: darkblue;
    border-spacing: 10px;
}

thead {
    background-color: white;
}

th {
    width: 14%;
    border-radius: 50%;
    height: 1em;
    background-color: white;
}


tr {
    margin: 0;
    border-collapse: collapse;
}

td {
    width: 14%;
    border-radius: 50%;
    height: 4em;
    background-color: #fff;
}

td.yellow {
    background-color: yellow;
}

td.red {
    background-color: red;
}
